<div class="container mt-2" style="margin-bottom: 75px">
  <h2>AUTON SYSTEMS PRIVATE LIMITED</h2>
  <p>
    <strong>AUTON SYSTEMS PRIVATE LIMITED's</strong>Corporate Identification
    Number (CIN) is U72900UP2016PTC087451. You can contact them by sending an
    email to autonsystems@gmail.com or visit them at their registered address
    B-49, SECTOR-3 CHIRANJEEV VIHAR GHAZIABAD Ghaziabad UP IN 201002. AUTON
    SYSTEMS PRIVATE LIMITED is a Private incorporated on 31-10-2016. It is
    classified as a Non-govt company and is registered at RoC-Kanpur. Their
    state of registration is Uttar Pradesh. Its authorized share capital is
    100000.00 and its paid-up capital is 100000.00. Current status of is -
    Active.
  </p>
</div>
